.background_wrapper {
	background-color: var(--accent);
}

.about {
	height: 500px;
	display: flex;
	flex-direction: row;
	color: var(--black-text);
}

.about_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 20px;
	height: auto;
}

.about h1 {
	font-size: 2.5rem;
	text-align: center;
	color: var(--black-text);
}

.about p {
	text-align: center;
}

/* Tables and mobile */
@media screen and (max-width: 767px) {
	.about {
		flex-direction: column;
	}
}
