.about {
	height: 500px;
	display: flex;
	flex-direction: row;
	background-color: #116466;
	color: #e7fefe;
	padding: 20px;
}

.about h1 {
	text-align: center;
	color: black;
}

.about p {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}
