.contact_wrapper {
	background-color: var(--accent);
}

.contact {
	display: flex;
	flex-direction: column;
	margin-block: 30px;
}

.contact h1 {
	font-size: 2rem;
}

.form_container {
	display: flex;
	justify-content: center;
}

.form_container form {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 5px;
}

.form_input {
	border: none;
	border-bottom: 2px solid var(--secondary);
	height: 25px;
	background-color: var(--accent);
	font-family: "Questrial", sans-serif;
}

.form_text {
	border: none;
	border-bottom: 2px solid var(--secondary);
	background-color: var(--accent);
	resize: none;
	font-family: "Questrial", sans-serif;
}

textarea:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.form_button {
	color: var(--black-text);
	padding: 10px;
	background-color: var(--text);
	border-radius: 5px;
	border: 1px solid grey;
	cursor: pointer;
	width: 50%;
	align-self: center;
}
