.contact {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	width: min(100%, 90%);
	margin-block: 30px;
}

.form_container {
	display: flex;
	justify-content: center;
}

.form_container form {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.form_input {
	border: none;
	border-bottom: 2px solid purple;
	height: 25px;
	background-color: #00aab3;
}

.form_text {
	border: none;
	border-bottom: 2px solid purple;
	background-color: #00aab3;
	resize: none;
}

textarea:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.form_button {
	color: #e7fefe;
	padding: 10px;
	background-color: #116466;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
