.homepage {
	position: relative;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.homepage_title {
	position: absolute;
	left: 30px;
}

.homepage h1 {
	font-size: 5rem;
}

.homepage span {
	font-size: 2rem;
	color: var(--text);
}
