.portfolio {
	height: auto;
}

.portfolio h1 {
	font-size: 2rem;
}

.game_portfolio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.web_portfolio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio h2 {
	color: var(--text);
}

/* Project thumbnails */
.project_thumbnail {
	position: relative;
	text-align: center;
	margin: 10px;
	overflow: hidden;
}

.project_thumbnail img {
	width: 400px;
	height: 250px;
	object-fit: cover;
	transition: transform 0.4s;
}

.project_thumbnail:hover img {
	transform: scale(1.1);
}

.project_thumbnail:hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
}

.project_title {
	position: absolute;
	color: #e7fefe;
	font-size: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Website thumbnails */
.website_thumbnail {
	position: relative;
	background-color: var(--secondary);
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.website_thumbnail img {
	width: 400px;
	height: 250px;
	object-fit: cover;
}

.website_info {
	margin-left: 25px;
	margin-bottom: 25px;
	margin-top: 10px;
}

.website_title {
	font-size: 2rem;
	color: var(--accent);
}

.website_subtitle {
	color: var(--text);
}

.website_links {
	margin-left: 15px;
	margin-top: 15px;
}

.website_link {
	margin: 10px;
	color: #e7fefe;
	padding: 10px;
	background-color: #00aab3;
	border-radius: 10px;
	text-decoration: none;
}

.website_link:hover {
	background-color: #007e85;
}

/* Section side animation */
.portfolio_fade {
	animation-name: side-fade-right;
	animation-duration: 3.5s;
	animation-iteration-count: 1;
}

@keyframes side-fade-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}
