.portfolio {
	margin-inline: auto;
	width: min(100%, 90%);
}

.game_portfolio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.web_portfolio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.portfolio h2 {
	color: #e7fefe;
}

/* Project thumbnails */
.project_thumbnail {
	position: relative;
	text-align: center;
	margin: 10px;
	overflow: hidden;
}

.project_thumbnail img {
	width: 400px;
	height: 250px;
	object-fit: cover;
	transition: transform 0.4s;
}

.project_thumbnail:hover img {
	transform: scale(1.1);
}

.project_thumbnail:hover::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.3);
}

.project_title {
	position: absolute;
	color: #e7fefe;
	font-size: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Website thumbnails */
.website_thumbnail {
	background-color: #116466;
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.website_thumbnail img {
	width: 400px;
	height: 250px;
	object-fit: cover;
}

.website_info {
	margin-left: 25px;
	margin-bottom: 25px;
	margin-top: 10px;
}

.website_title {
	font-size: 2rem;
	color: #fff7d6;
}

.website_subtitle {
	color: #e7fefe;
}

.website_links {
	margin-left: 15px;
	margin-top: 15px;
}

.website_link {
	margin: 10px;
	color: #e7fefe;
	padding: 10px;
	background-color: #00aab3;
	border-radius: 10px;
	text-decoration: none;
}

.website_link:hover {
	background-color: #007e85;
}
