* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#title__canvas {
	background-color: orange;
}

#about__canvas {
	background-color: cornflowerblue;
}

#works__canvas {
	background-color: bisque;
}

#contact__canvas {
	background-color: cadetblue;
}
